
<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
          <ul class="nav docs-sidenav">
            <li<%= sidebar_current("docs-home") %>>
              <a href="/docs/providers/index.html">All Providers</a>
            </li>

            <li>
              <a href="#">Azure Providers</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azuread-index") %>>
                   <a href="/docs/providers/azuread/index.html">Azure Active Directory</a>
                </li>
                <li<%= sidebar_current("docs-azurerm-index") %>>
                   <a href="/docs/providers/azurerm/index.html">Azure</a>
                </li>
                <li<%= sidebar_current("docs-azurestack-index") %>>
                   <a href="/docs/providers/azurestack/index.html">Azure Stack</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-guide") %>>
              <a href="#">Guides</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-guide-2.0-upgrade") %>>
                   <a href="/docs/providers/azurerm/guides/2.0-upgrade-guide.html">Azure Provider 2.0 Upgrade Guide</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-guide-authentication-azure-cli") %>>
                    <a href="/docs/providers/azurerm/auth/azure_cli.html">Authenticating using the Azure CLI</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-guide-authentication-managed-service-identity") %>>
                    <a href="/docs/providers/azurerm/auth/managed_service_identity.html">Authenticating using Managed Service Identity</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-guide-authentication-service-principal-client-certificate") %>>
                    <a href="/docs/providers/azurerm/auth/service_principal_client_certificate.html">Authenticating using a Service Principal with a Client Certificate</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-guide-authentication-service-principal-client-secret") %>>
                    <a href="/docs/providers/azurerm/auth/service_principal_client_secret.html">Authenticating using a Service Principal with a Client Secret</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-community-events") %>>
              <a href="#">Upcoming Community Events</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-community-events-gardening-fall-2018") %>>
                  <a href="/docs/extend/community/events/2018/fall-gardening.html">Community Gardening - Fall 2018</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-datasource") %>>
              <a href="#">Data Sources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-datasource-api-management-x") %>>
                    <a href="/docs/providers/azurerm/d/api_management.html">azurerm_api_management</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-api-management-api-x") %>>
                    <a href="/docs/providers/azurerm/d/api_management_api.html">azurerm_api_management_api</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-api-management-group") %>>
                    <a href="/docs/providers/azurerm/d/api_management_group.html">azurerm_api_management_group</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-api-management-product") %>>
                    <a href="/docs/providers/azurerm/d/api_management_product.html">azurerm_api_management_product</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-api-management-user") %>>
                    <a href="/docs/providers/azurerm/d/api_management_user.html">azurerm_api_management_user</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-network-application-security-group") %>>
                    <a href="/docs/providers/azurerm/d/application_security_group.html">azurerm_application_security_group</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-app-service-x") %>>
                    <a href="/docs/providers/azurerm/d/app_service.html">azurerm_app_service</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-app-service-plan") %>>
                    <a href="/docs/providers/azurerm/d/app_service_plan.html">azurerm_app_service_plan</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-application-insights") %>>
                    <a href="/docs/providers/azurerm/d/application_insights.html">azurerm_application_insights</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-availability-set") %>>
                    <a href="/docs/providers/azurerm/d/availability_set.html">azurerm_availability_set</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-azuread-application") %>>
                  <a href="/docs/providers/azurerm/d/azuread_application.html">azurerm_azuread_application</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-azuread-service-principal") %>>
                  <a href="/docs/providers/azurerm/d/azuread_service_principal.html">azurerm_azuread_service_principal</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-batch-account") %>>
                  <a href="/docs/providers/azurerm/d/batch_account.html">azurerm_batch_account</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-batch-certificate") %>>
                  <a href="/docs/providers/azurerm/d/batch_certificate.html">azurerm_batch_certificate</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-batch-pool") %>>
                  <a href="/docs/providers/azurerm/d/batch_pool.html">azurerm_batch_pool</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-builtin-role-definition") %>>
                    <a href="/docs/providers/azurerm/d/builtin_role_definition.html">azurerm_builtin_role_definition</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-cdn-profile") %>>
                    <a href="/docs/providers/azurerm/d/cdn_profile.html">azurerm_cdn_profile</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-client-config") %>>
                    <a href="/docs/providers/azurerm/d/client_config.html">azurerm_client_config</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-container-registry") %>>
                    <a href="/docs/providers/azurerm/d/container_registry.html">azurerm_container_registry</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-cosmosdb-account") %>>
                    <a href="/docs/providers/azurerm/d/cosmosdb_account.html">azurerm_cosmosdb_account</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-dns-zone") %>>
                    <a href="/docs/providers/azurerm/d/dns_zone.html">azurerm_dns_zone</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-data-lake-store") %>>
                    <a href="/docs/providers/azurerm/d/data_lake_store.html">azurerm_data_lake_store</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-dev-test-lab") %>>
                    <a href="/docs/providers/azurerm/d/dev_test_lab.html">azurerm_dev_test_lab</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-eventhub-namespace") %>>
                    <a href="/docs/providers/azurerm/d/eventhub_namespace.html">azurerm_eventhub_namespace</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-express-route-circuit") %>>
                    <a href="/docs/providers/azurerm/d/express_route_circuit.html">azurerm_express_route_circuit</a>
                </li>
              
                <li<%= sidebar_current("docs-azurerm-datasource-firewall") %>>
                    <a href="/docs/providers/azurerm/d/firewall.html">azurerm_firewall</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-hdinsight-cluster") %>>
                    <a href="/docs/providers/azurerm/d/hdinsight_cluster.html">azurerm_hdinsight_cluster</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-image") %>>
                    <a href="/docs/providers/azurerm/d/image.html">azurerm_image</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-key-vault-x") %>>
                    <a href="/docs/providers/azurerm/d/key_vault.html">azurerm_key_vault</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-key-vault-access-policy") %>>
                    <a href="/docs/providers/azurerm/d/key_vault_access_policy.html">azurerm_key_vault_access_policy</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-key-vault-key") %>>
                    <a href="/docs/providers/azurerm/d/key_vault_key.html">azurerm_key_vault_key</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-key-vault-secret") %>>
                    <a href="/docs/providers/azurerm/d/key_vault_secret.html">azurerm_key_vault_secret</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-data-source-kubernetes-cluster") %>>
                    <a href="/docs/providers/azurerm/d/kubernetes_cluster.html">azurerm_kubernetes_cluster</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-load-balancer-x") %>>
                    <a href="/docs/providers/azurerm/d/loadbalancer.html">azurerm_lb</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-load-balancer-backend-address-pool") %>>
                    <a href="/docs/providers/azurerm/d/loadbalancer_backend_address_pool.html">azurerm_lb_backend_address_pool</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-oms-log-analytics-workspace") %>>
                    <a href="/docs/providers/azurerm/d/log_analytics_workspace.html">azurerm_log_analytics_workspace</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-data-source-logic-app-workflow") %>>
                    <a href="/docs/providers/azurerm/d/logic_app_workflow.html">azurerm_logic_app_workflow</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-managed-disk") %>>
                    <a href="/docs/providers/azurerm/d/managed_disk.html">azurerm_managed_disk</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-management-group") %>>
                    <a href="/docs/providers/azurerm/d/management_group.html">azurerm_management_group</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-monitor-action-group") %>>
                    <a href="/docs/providers/azurerm/d/monitor_action_group.html">azurerm_monitor_action_group</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-monitor-diagnostic-categories") %>>
                    <a href="/docs/providers/azurerm/d/monitor_diagnostic_categories.html">azurerm_monitor_diagnostic_categories</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-monitor-log-profile") %>>
                  <a href="/docs/providers/azurerm/d/monitor_log_profile.html">azurerm_monitor_log_profile</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-network-interface") %>>
                    <a href="/docs/providers/azurerm/d/network_interface.html">azurerm_network_interface</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-network-security-group") %>>
                    <a href="/docs/providers/azurerm/d/network_security_group.html">azurerm_network_security_group</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-network-watcher") %>>
                    <a href="/docs/providers/azurerm/d/network_watcher.html">azurerm_network_watcher</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-notification-hub-namespace") %>>
                    <a href="/docs/providers/azurerm/d/notification_hub_namespace.html">azurerm_notification_hub_namespace</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-platform-image") %>>
                    <a href="/docs/providers/azurerm/d/platform_image.html">azurerm_platform_image</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-policy-definition") %>>
                    <a href="/docs/providers/azurerm/d/policy_definition.html">azurerm_policy_definition</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-public-ip-x") %>>
                    <a href="/docs/providers/azurerm/d/public_ip.html">azurerm_public_ip</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-public-ips") %>>
                    <a href="/docs/providers/azurerm/d/public_ips.html">azurerm_public_ips</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-recovery-services-vault") %>>
                    <a href="/docs/providers/azurerm/d/recovery_services_vault.html">azurerm_recovery_services_vault</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-recovery-services-protection-policy-vm") %>>
                    <a href="/docs/providers/azurerm/d/recovery_services_protection_policy_vm.html">azurerm_recovery_services_protection_policy_vm</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-resource-group") %>>
                    <a href="/docs/providers/azurerm/d/resource_group.html">azurerm_resource_group</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-role-definition") %>>
                    <a href="/docs/providers/azurerm/d/role_definition.html">azurerm_role_definition</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-data-source-route-table") %>>
                    <a href="/docs/providers/azurerm/d/route_table.html">azurerm_route_table</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-scheduler-job-collection") %>>
                    <a href="/docs/providers/azurerm/d/scheduler_job_collection.html">azurerm_scheduler_job_collection</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-servicebus-namespace") %>>
                    <a href="/docs/providers/azurerm/d/servicebus_namespace.html">azurerm_servicebus_namespace</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-shared-image-x") %>>
                    <a href="/docs/providers/azurerm/d/shared_image.html">azurerm_shared_image</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-shared-image-gallery") %>>
                    <a href="/docs/providers/azurerm/d/shared_image_gallery.html">azurerm_shared_image_gallery</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-shared-image-version") %>>
                    <a href="/docs/providers/azurerm/d/shared_image_version.html">azurerm_shared_image_version</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-stream-analytics-job") %>>
                    <a href="/docs/providers/azurerm/d/stream_analytics_job.html">azurerm_stream_analytics_job</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-storage-account-x") %>>
                    <a href="/docs/providers/azurerm/d/storage_account.html">azurerm_storage_account</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-storage-account-sas") %>>
                    <a href="/docs/providers/azurerm/d/storage_account_sas.html">azurerm_storage_account_sas</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-subnet") %>>
                    <a href="/docs/providers/azurerm/d/subnet.html">azurerm_subnet</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-subscription-x") %>>
                    <a href="/docs/providers/azurerm/d/subscription.html">azurerm_subscription</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-subscriptions") %>>
                    <a href="/docs/providers/azurerm/d/subscriptions.html">azurerm_subscriptions</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-traffic-manager-geographical-location") %>>
                    <a href="/docs/providers/azurerm/d/traffic_manager_geographical_location.html">azurerm_traffic_manager_geographical_location</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-virtual-machine") %>>
                    <a href="/docs/providers/azurerm/d/virtual_machine.html">azurerm_virtual_machine</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-virtual-network-x") %>>
                    <a href="/docs/providers/azurerm/d/virtual_network.html">azurerm_virtual_network</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-virtual-network-gateway") %>>
                    <a href="/docs/providers/azurerm/d/virtual_network_gateway.html">azurerm_virtual_network_gateway</a>
                </li>

              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-resource") %>>
              <a href="#">Base Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-resource-group") %>>
                  <a href="/docs/providers/azurerm/r/resource_group.html">azurerm_resource_group</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-api-management") %>>
              <a href="#">API Management Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-api-management-x") %>>
                  <a href="/docs/providers/azurerm/r/api_management.html">azurerm_api_management</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-api-management-api-x") %>>
                  <a href="/docs/providers/azurerm/r/api_management_api.html">azurerm_api_management_api</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-api-management-api-operation") %>>
                  <a href="/docs/providers/azurerm/r/api_management_api_operation.html">azurerm_api_management_api_operation</a>
                </li>
                
                <li<%= sidebar_current("docs-azurerm-resource-api-management-api-version-set") %>>
                  <a href="/docs/providers/azurerm/r/api_management_api_version_set.html">azurerm_api_management_version_set</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-api-management-authorization-server") %>>
                  <a href="/docs/providers/azurerm/r/api_management_authorization_server.html">azurerm_api_management_authorization_server</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-api-management-certificate") %>>
                  <a href="/docs/providers/azurerm/r/api_management_certificate.html">azurerm_api_management_certificate</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-api-management-group-x") %>>
                  <a href="/docs/providers/azurerm/r/api_management_group.html">azurerm_api_management_group</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-api-management-group-user") %>>
                  <a href="/docs/providers/azurerm/r/api_management_group_user.html">azurerm_api_management_group_user</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-api-management-logger") %>>
                  <a href="/docs/providers/azurerm/r/api_management_logger.html">azurerm_api_management_logger</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-api-management-openid-connect-provider") %>>
                  <a href="/docs/providers/azurerm/r/api_management_openid_connect_provider.html">azurerm_api_management_openid_connect_provider</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-api-management-product-x") %>>
                  <a href="/docs/providers/azurerm/r/api_management_product.html">azurerm_api_management_product</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-api-management-product-api") %>>
                  <a href="/docs/providers/azurerm/r/api_management_product_api.html">azurerm_api_management_product_api</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-api-management-product-group") %>>
                  <a href="/docs/providers/azurerm/r/api_management_product_group.html">azurerm_api_management_product_group</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-api-management-property-x") %>>
                    <a href="/docs/providers/azurerm/r/api_management_property.html">azurerm_api_management_property</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-app-service") %>>
              <a href="#">App Service (Web Apps) Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-app-service-x") %>>
                  <a href="/docs/providers/azurerm/r/app_service.html">azurerm_app_service</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-app-service-active-slot") %>>
                  <a href="/docs/providers/azurerm/r/app_service_active_slot.html">azurerm_app_service_active_slot</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-app-service-custom-hostname-binding") %>>
                  <a href="/docs/providers/azurerm/r/app_service_custom_hostname_binding.html">azurerm_app_service_custom_hostname_binding</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-app-service-plan") %>>
                  <a href="/docs/providers/azurerm/r/app_service_plan.html">azurerm_app_service_plan</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-app-service-slot") %>>
                  <a href="/docs/providers/azurerm/r/app_service_slot.html">azurerm_app_service_slot</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-app-service-function-app") %>>
                  <a href="/docs/providers/azurerm/r/function_app.html">azurerm_function_app</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-authorization") %>>
              <a href="#">Authorization Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-authorization-role-assignment") %>>
                  <a href="/docs/providers/azurerm/r/role_assignment.html">azurerm_role_assignment</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-authorization-role-definition") %>>
                  <a href="/docs/providers/azurerm/r/role_definition.html">azurerm_role_definition</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-authorization-user-assigned-identity") %>>
                  <a href="/docs/providers/azurerm/r/user_assigned_identity.html">azurerm_user_assigned_identity</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-azuread") %>>
              <a href="#">Azure Active Directory Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-azuread-application") %>>
                  <a href="/docs/providers/azurerm/r/azuread_application.html">azurerm_azuread_application</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-azuread-service-principal-x") %>>
                  <a href="/docs/providers/azurerm/r/azuread_service_principal.html">azurerm_azuread_service_principal</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-azuread-service-principal-password") %>>
                  <a href="/docs/providers/azurerm/r/azuread_service_principal_password.html">azurerm_azuread_service_principal_password</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-automation") %>>
              <a href="#">Automation Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-automation-account") %>>
                  <a href="/docs/providers/azurerm/r/automation_account.html">azurerm_automation_account</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-automation-credential") %>>
                  <a href="/docs/providers/azurerm/r/automation_credential.html">azurerm_automation_credential</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-automation-dsc-configuration") %>>
                  <a href="/docs/providers/azurerm/r/automation_dsc_configuration.html">azurerm_automation_dsc_configuration</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-automation-dsc-nodeconfiguration") %>>
                  <a href="/docs/providers/azurerm/r/automation_dsc_nodeconfiguration.html">azurerm_automation_dsc_nodeconfiguration</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-automation-module") %>>
                  <a href="/docs/providers/azurerm/r/automation_module.html">azurerm_automation_module</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-automation-runbook") %>>
                  <a href="/docs/providers/azurerm/r/automation_runbook.html">azurerm_automation_runbook</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-automation-schedule") %>>
                  <a href="/docs/providers/azurerm/r/automation_schedule.html">azurerm_automation_schedule</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-application-insights") %>>
              <a href="#">Application Insights Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-application-insights-x") %>>
                  <a href="/docs/providers/azurerm/r/application_insights.html">azurerm_application_insights</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-application-insights-api-key") %>>
                  <a href="/docs/providers/azurerm/r/application_insights_api_key.html">azurerm_application_insights_api_key</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-batch") %>>
              <a href="#">Batch Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-batch-account") %>>
                  <a href="/docs/providers/azurerm/r/batch_account.html">azurerm_batch_account</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-batch-certificate") %>>
                  <a href="/docs/providers/azurerm/r/batch_certificate.html">azurerm_batch_certificate</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-batch-pool") %>>
                  <a href="/docs/providers/azurerm/r/batch_pool.html">azurerm_batch_pool</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-cdn") %>>
              <a href="#">CDN Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-cdn-endpoint") %>>
                  <a href="/docs/providers/azurerm/r/cdn_endpoint.html">azurerm_cdn_endpoint</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-cdn-profile") %>>
                  <a href="/docs/providers/azurerm/r/cdn_profile.html">azurerm_cdn_profile</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-compute") %>>
              <a href="#">Compute Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-compute-availability-set") %>>
                  <a href="/docs/providers/azurerm/r/availability_set.html">azurerm_availability_set</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-compute-image") %>>
                  <a href="/docs/providers/azurerm/r/image.html">azurerm_image</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-compute-managed-disk") %>>
                  <a href="/docs/providers/azurerm/r/managed_disk.html">azurerm_managed_disk</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-compute-snapshot") %>>
                  <a href="/docs/providers/azurerm/r/snapshot.html">azurerm_snapshot</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-compute-shared-image-x") %>>
                  <a href="/docs/providers/azurerm/r/shared_image.html">azurerm_shared_image</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-compute-shared-image-gallery") %>>
                  <a href="/docs/providers/azurerm/r/shared_image_gallery.html">azurerm_shared_image_gallery</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-compute-shared-image-version") %>>
                  <a href="/docs/providers/azurerm/r/shared_image_version.html">azurerm_shared_image_version</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-compute-virtual-machine-x") %>>
                  <a href="/docs/providers/azurerm/r/virtual_machine.html">azurerm_virtual_machine</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-compute-virtual-machine-data-disk-attachment") %>>
                  <a href="/docs/providers/azurerm/r/virtual_machine_data_disk_attachment.html">azurerm_virtual_machine_data_disk_attachment</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-compute-virtualmachine-extension") %>>
                  <a href="/docs/providers/azurerm/r/virtual_machine_extension.html">azurerm_virtual_machine_extension</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-compute-virtualmachine-scale-set") %>>
                  <a href="/docs/providers/azurerm/r/virtual_machine_scale_set.html">azurerm_virtual_machine_scale_set</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-container") %>>
              <a href="#">Container Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-container-group") %>>
                  <a href="/docs/providers/azurerm/r/container_group.html">azurerm_container_group</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-container-registry") %>>
                  <a href="/docs/providers/azurerm/r/container_registry.html">azurerm_container_registry</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-container-service") %>>
                  <a href="/docs/providers/azurerm/r/container_service.html">azurerm_container_service</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-container-kubernetes-cluster") %>>
                  <a href="/docs/providers/azurerm/r/kubernetes_cluster.html">azurerm_kubernetes_cluster</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-cognitive") %>>
              <a href="#">Cognitive Services Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-cognitive-account") %>>
                  <a href="/docs/providers/azurerm/r/cognitive_account.html">azurerm_cognitive_account</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-cosmosdb") %>>
              <a href="#">CosmosDB (DocumentDB) Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-cosmosdb-account") %>>
                  <a href="/docs/providers/azurerm/r/cosmosdb_account.html">azurerm_cosmosdb_account</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-database") %>>
              <a href="#">Database Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azurerm-resource-database-mariadb-database") %>>
                  <a href="/docs/providers/azurerm/r/mariadb_database.html">azurerm_mariadb_database</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-mariadb-server") %>>
                  <a href="/docs/providers/azurerm/r/mariadb_server.html">azurerm_mariadb_server</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-mysql-configuration") %>>
                  <a href="/docs/providers/azurerm/r/mysql_configuration.html">azurerm_mysql_configuration</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-mysql-database") %>>
                  <a href="/docs/providers/azurerm/r/mysql_database.html">azurerm_mysql_database</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-mysql-firewall-rule") %>>
                  <a href="/docs/providers/azurerm/r/mysql_firewall_rule.html">azurerm_mysql_firewall_rule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-mysql-server") %>>
                  <a href="/docs/providers/azurerm/r/mysql_server.html">azurerm_mysql_server</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-mysql-virtual-network-rule") %>>
                  <a href="/docs/providers/azurerm/r/mysql_virtual_network_rule.html">azurerm_mysql_virtual_network_rule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-postgresql-configuration") %>>
                  <a href="/docs/providers/azurerm/r/postgresql_configuration.html">azurerm_postgresql_configuration</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-postgresql-database") %>>
                  <a href="/docs/providers/azurerm/r/postgresql_database.html">azurerm_postgresql_database</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-postgresql-firewall-rule") %>>
                  <a href="/docs/providers/azurerm/r/postgresql_firewall_rule.html">azurerm_postgresql_firewall_rule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-postgresql-server") %>>
                  <a href="/docs/providers/azurerm/r/postgresql_server.html">azurerm_postgresql_server</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-postgresql-virtual-network-rule") %>>
                  <a href="/docs/providers/azurerm/r/postgresql_virtual_network_rule.html">azurerm_postgresql_virtual_network_rule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-sql-database") %>>
                  <a href="/docs/providers/azurerm/r/sql_database.html">azurerm_sql_database</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-sql-administrator") %>>
                  <a href="/docs/providers/azurerm/r/sql_active_directory_administrator.html">azurerm_sql_active_directory_administrator</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-sql-elasticpool") %>>
                  <a href="/docs/providers/azurerm/r/sql_elasticpool.html">azurerm_sql_elasticpool</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-mssql-elasticpool") %>>
                  <a href="/docs/providers/azurerm/r/mssql_elasticpool.html">azurerm_mssql_elasticpool</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-sql-firewall-rule") %>>
                  <a href="/docs/providers/azurerm/r/sql_firewall_rule.html">azurerm_sql_firewall_rule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-sql-server") %>>
                  <a href="/docs/providers/azurerm/r/sql_server.html">azurerm_sql_server</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-sql-virtual-network-rule") %>>
                  <a href="/docs/providers/azurerm/r/sql_virtual_network_rule.html">azurerm_sql_virtual_network_rule</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-databricks") %>>
              <a href="#">Databricks Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-databricks-workspace") %>>
                  <a href="/docs/providers/azurerm/r/databricks_workspace.html">azurerm_databricks_workspace</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-data-factory") %>>
              <a href="#">Data Factory Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-data-factory-x") %>>
                  <a href="/docs/providers/azurerm/r/data_factory.html">azurerm_data_factory</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-data-factory-dataset-mysql") %>>
                  <a href="/docs/providers/azurerm/r/data_factory_dataset_mysql.html">azurerm_data_factory_dataset_mysql</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-data-factory-dataset-postgresql") %>>
                  <a href="/docs/providers/azurerm/r/data_factory_dataset_postgresql.html">azurerm_data_factory_dataset_postgresql</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-data-factory-dataset-sql-server-table") %>>
                  <a href="/docs/providers/azurerm/r/data_factory_dataset_sql_server_table.html">azurerm_data_factory_dataset_sql_server_table</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-data-factory-pipeline") %>>
                  <a href="/docs/providers/azurerm/r/data_factory_pipeline.html">azurerm_data_factory_pipeline</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-data-factory-linked-service-mysql") %>>
                  <a href="/docs/providers/azurerm/r/data_factory_linked_service_mysql.html">azurerm_data_factory_linked_service_mysql</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-data-factory-linked-service-postgresql") %>>
                  <a href="/docs/providers/azurerm/r/data_factory_linked_service_postgresql.html">azurerm_data_factory_linked_service_postgresql</a>
                </li>
                
                <li<%= sidebar_current("docs-azurerm-resource-data-factory-linked-service-sql-server") %>>
                  <a href="/docs/providers/azurerm/r/data_factory_linked_service_sql_server.html">azurerm_data_factory_linked_service_sql_server</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-data-lake") %>>
              <a href="#">Data Lake Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-data-lake-analytics-account") %>>
                  <a href="/docs/providers/azurerm/r/data_lake_analytics_account.html">azurerm_data_lake_analytics_account</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-data-lake-analytics-firewall-rule") %>>
                  <a href="/docs/providers/azurerm/r/data_lake_analytics_firewall_rule.html">azurerm_data_lake_analytics_firewall_rule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-data-lake-store-x") %>>
                  <a href="/docs/providers/azurerm/r/data_lake_store.html">azurerm_data_lake_store</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-data-lake-store-firewall-rule") %>>
                  <a href="/docs/providers/azurerm/r/data_lake_store_firewall_rule.html">azurerm_data_lake_store_firewall_rule</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-devspace") %>>
              <a href="#">DevSpace Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-devspace-controller") %>>
                  <a href="/docs/providers/azurerm/r/devspace_controller.html">azurerm_devspace_controller</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-dev-test") %>>
              <a href="#">Dev Test Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-dev-test-lab") %>>
                  <a href="/docs/providers/azurerm/r/dev_test_lab.html">azurerm_dev_test_lab</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-dev-test-linux-virtual-machine") %>>
                  <a href="/docs/providers/azurerm/r/dev_test_linux_virtual_machine.html">azurerm_dev_test_linux_virtual_machine</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-dev-test-policy") %>>
                  <a href="/docs/providers/azurerm/r/dev_test_policy.html">azurerm_dev_test_policy</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-dev-test-virtual-network") %>>
                  <a href="/docs/providers/azurerm/r/dev_test_virtual_network.html">azurerm_dev_test_virtual_network</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-dev-test-windows-virtual-machine") %>>
                  <a href="/docs/providers/azurerm/r/dev_test_windows_virtual_machine.html">azurerm_dev_test_windows_virtual_machine</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-dns") %>>
                <a href="#">DNS Resources</a>
                <ul class="nav nav-visible">
                  <li<%= sidebar_current("docs-azurerm-resource-dns-a-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_a_record.html">azurerm_dns_a_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-aaaa-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_aaaa_record.html">azurerm_dns_aaaa_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-caa-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_caa_record.html">azurerm_dns_caa_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-cname-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_cname_record.html">azurerm_dns_cname_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-mx-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_mx_record.html">azurerm_dns_mx_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-ns-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_ns_record.html">azurerm_dns_ns_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-ptr-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_ptr_record.html">azurerm_dns_ptr_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-srv-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_srv_record.html">azurerm_dns_srv_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-txt-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_txt_record.html">azurerm_dns_txt_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-zone") %>>
                      <a href="/docs/providers/azurerm/r/dns_zone.html">azurerm_dns_zone</a>
                  </li>
                </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-hdinsight") %>>
              <a href="#">HDInsight Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-hdinsight-hadoop-cluster") %>>
                  <a href="/docs/providers/azurerm/r/hdinsight_hadoop_cluster.html">azurerm_hdinsight_hadoop_cluster</a>
                </li>
                <li<%= sidebar_current("docs-azurerm-resource-hdinsight-hbase-cluster") %>>
                  <a href="/docs/providers/azurerm/r/hdinsight_hbase_cluster.html">azurerm_hdinsight_hbase_cluster</a>
                </li>
                <li<%= sidebar_current("docs-azurerm-resource-hdinsight-kafka-cluster") %>>
                  <a href="/docs/providers/azurerm/r/hdinsight_kafka_cluster.html">azurerm_hdinsight_kafka_cluster</a>
                </li>
                <li<%= sidebar_current("docs-azurerm-resource-hdinsight-interactive-query-cluster") %>>
                  <a href="/docs/providers/azurerm/r/hdinsight_interactive_query_cluster.html">azurerm_hdinsight_interactive_query_cluster</a>
                </li>
                <li<%= sidebar_current("docs-azurerm-resource-hdinsight-ml-services-cluster") %>>
                  <a href="/docs/providers/azurerm/r/hdinsight_ml_services_cluster.html">azurerm_hdinsight_ml_services_cluster</a>
                </li>
                <li<%= sidebar_current("docs-azurerm-resource-hdinsight-rserver-cluster") %>>
                  <a href="/docs/providers/azurerm/r/hdinsight_rserver_cluster.html">azurerm_hdinsight_rserver_cluster</a>
                </li>
                <li<%= sidebar_current("docs-azurerm-resource-hdinsight-spark-cluster") %>>
                  <a href="/docs/providers/azurerm/r/hdinsight_spark_cluster.html">azurerm_hdinsight_spark_cluster</a>
                </li>
                <li<%= sidebar_current("docs-azurerm-resource-hdinsight-storm-cluster") %>>
                  <a href="/docs/providers/azurerm/r/hdinsight_storm_cluster.html">azurerm_hdinsight_storm_cluster</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-key-vault") %>>
              <a href="#">Key Vault Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-key-vault-x") %>>
                  <a href="/docs/providers/azurerm/r/key_vault.html">azurerm_key_vault</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-key-vault-access-policy") %>>
                  <a href="/docs/providers/azurerm/r/key_vault_access_policy.html">azurerm_key_vault_access_policy</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-key-vault-certificate") %>>
                  <a href="/docs/providers/azurerm/r/key_vault_certificate.html">azurerm_key_vault_certificate</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-key-vault-key") %>>
                  <a href="/docs/providers/azurerm/r/key_vault_key.html">azurerm_key_vault_key</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-key-vault-secret") %>>
                  <a href="/docs/providers/azurerm/r/key_vault_secret.html">azurerm_key_vault_secret</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-loadbalancer") %>>
              <a href="#">Load Balancer Resources</a>
              <ul class="nav nav-visible">
                  <li<%= sidebar_current("docs-azurerm-resource-loadbalancer-x") %>>
                    <a href="/docs/providers/azurerm/r/loadbalancer.html">azurerm_lb</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-loadbalancer-backend-address-pool") %>>
                    <a href="/docs/providers/azurerm/r/loadbalancer_backend_address_pool.html">azurerm_lb_backend_address_pool</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-loadbalancer-rule") %>>
                    <a href="/docs/providers/azurerm/r/loadbalancer_rule.html">azurerm_lb_rule</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-loadbalancer-outbound-rule") %>>
                    <a href="/docs/providers/azurerm/r/loadbalancer_outbound_rule.html">azurerm_lb_outbound_rule</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-loadbalancer-nat-rule") %>>
                    <a href="/docs/providers/azurerm/r/loadbalancer_nat_rule.html">azurerm_lb_nat_rule</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-loadbalancer-nat-pool") %>>
                    <a href="/docs/providers/azurerm/r/loadbalancer_nat_pool.html">azurerm_lb_nat_pool</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-loadbalancer-probe") %>>
                    <a href="/docs/providers/azurerm/r/loadbalancer_probe.html">azurerm_lb_probe</a>
                  </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-logic") %>>
              <a href="#">Logic App Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-logic-app-action-custom") %>>
                  <a href="/docs/providers/azurerm/r/logic_app_action_custom.html">azurerm_logic_app_action_custom</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-logic-app-action-http") %>>
                  <a href="/docs/providers/azurerm/r/logic_app_action_http.html">azurerm_logic_app_action_http</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-logic-app-trigger-custom") %>>
                  <a href="/docs/providers/azurerm/r/logic_app_trigger_custom.html">azurerm_logic_app_trigger_custom</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-logic-app-trigger-http-request") %>>
                  <a href="/docs/providers/azurerm/r/logic_app_trigger_http_request.html">azurerm_logic_app_trigger_http_request</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-logic-app-trigger-recurrence") %>>
                  <a href="/docs/providers/azurerm/r/logic_app_trigger_recurrence.html">azurerm_logic_app_trigger_recurrence</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-logic-app-workflow") %>>
                  <a href="/docs/providers/azurerm/r/logic_app_workflow.html">azurerm_logic_app_workflow</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-management") %>>
              <a href="#">Management Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-management-lock") %>>
                  <a href="/docs/providers/azurerm/r/management_lock.html">azurerm_management_lock</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-messaging") %>>
              <a href="#">Messaging Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-messaging-eventgrid-domain") %>>
                  <a href="/docs/providers/azurerm/r/eventgrid_domain.html">azurerm_eventgrid_domain</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-eventgrid-event-subscription") %>>
                  <a href="/docs/providers/azurerm/r/eventgrid_event_subscription.html">azurerm_eventgrid_event_subscription</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-eventgrid-topic") %>>
                  <a href="/docs/providers/azurerm/r/eventgrid_topic.html">azurerm_eventgrid_topic</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-eventhub-x") %>>
                  <a href="/docs/providers/azurerm/r/eventhub.html">azurerm_eventhub</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-eventhub-authorization-rule") %>>
                  <a href="/docs/providers/azurerm/r/eventhub_authorization_rule.html">azurerm_eventhub_authorization_rule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-eventhub-consumer-group") %>>
                  <a href="/docs/providers/azurerm/r/eventhub_consumer_group.html">azurerm_eventhub_consumer_group</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-eventhub-namespace-x") %>>
                  <a href="/docs/providers/azurerm/r/eventhub_namespace.html">azurerm_eventhub_namespace</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-eventhub-namespace-authorization-rule") %>>
                  <a href="/docs/providers/azurerm/r/eventhub_namespace_authorization_rule.html">azurerm_eventhub_namespace_authorization_rule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-iothub-x") %>>
                  <a href="/docs/providers/azurerm/r/iothub.html">azurerm_iothub</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-iothub-consumer-group") %>>
                  <a href="/docs/providers/azurerm/r/iothub_consumer_group.html">azurerm_iothub_consumer_group</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-iothub-shared-access-policy-x") %>>
                  <a href="/docs/providers/azurerm/r/iothub_shared_access_policy.html">azurerm_iothub_shared_access_policy</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-notification-hub-x") %>>
                  <a href="/docs/providers/azurerm/r/notification_hub.html">azurerm_notification_hub</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-notification-hub-authorization-rule") %>>
                  <a href="/docs/providers/azurerm/r/notification_hub_authorization_rule.html">azurerm_notification_hub_authorization_rule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-notification-hub-namespace") %>>
                  <a href="/docs/providers/azurerm/r/notification_hub_namespace.html">azurerm_notification_hub_namespace</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-relay-namespace") %>>
                  <a href="/docs/providers/azurerm/r/relay_namespace.html">azurerm_relay_namespace</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-servicebus-namespace-x") %>>
                  <a href="/docs/providers/azurerm/r/servicebus_namespace.html">azurerm_servicebus_namespace</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-servicebus-namespace-authorization-rule") %>>
                  <a href="/docs/providers/azurerm/r/servicebus_namespace_authorization_rule.html">azurerm_servicebus_namespace_authorization_rule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-servicebus-queue-x") %>>
                  <a href="/docs/providers/azurerm/r/servicebus_queue.html">azurerm_servicebus_queue</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-servicebus-queue-authorization-rule") %>>
                  <a href="/docs/providers/azurerm/r/servicebus_queue_authorization_rule.html">azurerm_servicebus_queue_authorization_rule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-servicebus-subscription-x") %>>
                  <a href="/docs/providers/azurerm/r/servicebus_subscription.html">azurerm_servicebus_subscription</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-servicebus-subscription-rule") %>>
                  <a href="/docs/providers/azurerm/r/servicebus_subscription_rule.html">azurerm_servicebus_subscription_rule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-servicebus-topic-x") %>>
                  <a href="/docs/providers/azurerm/r/servicebus_topic.html">azurerm_servicebus_topic</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-servicebus-topic-authorization-rule") %>>
                  <a href="/docs/providers/azurerm/r/servicebus_topic_authorization_rule.html">azurerm_servicebus_topic_authorization_rule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-messaging-signalr-service") %>>
                  <a href="/docs/providers/azurerm/r/signalr_service.html">azurerm_signalr_service</a>
                </li>
              </ul>
            </li>


            <li<%= sidebar_current("docs-azurerm-resource-monitor") %>>
              <a href="#">Monitor Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-autoscale-setting") %>>
                  <a href="/docs/providers/azurerm/r/autoscale_setting.html">azurerm_autoscale_setting</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-monitor-action-group") %>>
                  <a href="/docs/providers/azurerm/r/monitor_action_group.html">azurerm_monitor_action_group</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-monitor-activity-log-alert") %>>
                  <a href="/docs/providers/azurerm/r/monitor_activity_log_alert.html">azurerm_monitor_activity_log_alert</a>
                </li>
                <li<%= sidebar_current("docs-azurerm-resource-monitor-autoscale-setting") %>>
                  <a href="/docs/providers/azurerm/r/monitor_autoscale_setting.html">azurerm_monitor_autoscale_setting</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-monitor-diagnostic-setting") %>>
                  <a href="/docs/providers/azurerm/r/monitor_diagnostic_setting.html">azurerm_monitor_diagnostic_setting</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-monitor-log-profile") %>>
                  <a href="/docs/providers/azurerm/r/monitor_log_profile.html">azurerm_monitor_log_profile</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-monitor-metric-alert-x") %>>
                  <a href="/docs/providers/azurerm/r/monitor_metric_alert.html">azurerm_monitor_metric_alert</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-monitor-metric-alertrule") %>>
                  <a href="/docs/providers/azurerm/r/monitor_metric_alertrule.html">azurerm_monitor_metric_alertrule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-metric-alertrule") %>>
                  <a href="/docs/providers/azurerm/r/metric_alertrule.html">azurerm_metric_alertrule</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-network") %>>
              <a href="#">Network Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azurerm-resource-network-application-gateway") %>>
                  <a href="/docs/providers/azurerm/r/application_gateway.html">azurerm_application_gateway</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-application-security-group") %>>
                  <a href="/docs/providers/azurerm/r/application_security_group.html">azurerm_application_security_group</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-connection-monitor") %>>
                  <a href="/docs/providers/azurerm/r/connection_monitor.html">azurerm_connection_monitor</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-connection-monitor") %>>
                  <a href="/docs/providers/azurerm/r/network_connection_monitor.html">azurerm_network_connection_monitor</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-ddos-protection-plan") %>>
                  <a href="/docs/providers/azurerm/r/ddos_protection_plan.html">azurerm_ddos_protection_plan</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-ddos-protection-plan") %>>
                  <a href="/docs/providers/azurerm/r/network_ddos_protection_plan.html">azurerm_network_ddos_protection_plan</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-express-route-circuit-x") %>>
                  <a href="/docs/providers/azurerm/r/express_route_circuit.html">azurerm_express_route_circuit</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-express-route-circuit-authorization") %>>
                  <a href="/docs/providers/azurerm/r/express_route_circuit_authorization.html">azurerm_express_route_circuit_authorization</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-express-route-circuit-peering") %>>
                  <a href="/docs/providers/azurerm/r/express_route_circuit_peering.html">azurerm_express_route_circuit_peering</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-firewall-x") %>>
                  <a href="/docs/providers/azurerm/r/firewall.html">azurerm_firewall</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-firewall-application-rule-collection") %>>
                  <a href="/docs/providers/azurerm/r/firewall_application_rule_collection.html">azurerm_firewall_application_rule_collection</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-firewall-network-rule-collection") %>>
                  <a href="/docs/providers/azurerm/r/firewall_network_rule_collection.html">azurerm_firewall_network_rule_collection</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-local-network-gateway") %>>
                  <a href="/docs/providers/azurerm/r/local_network_gateway.html">azurerm_local_network_gateway</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-interface-x") %>>
                  <a href="/docs/providers/azurerm/r/network_interface.html">azurerm_network_interface</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-interface-application-gateway-backend-address-pool-association") %>>
                  <a href="/docs/providers/azurerm/r/network_interface_application_gateway_backend_address_pool_association.html">azurerm_network_interface_application_gateway_backend_address_pool_association</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-interface-application-security-group-association") %>>
                  <a href="/docs/providers/azurerm/r/network_interface_application_security_group_association.html">azurerm_network_interface_application_security_group_association</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-interface-backend-address-pool-association") %>>
                  <a href="/docs/providers/azurerm/r/network_interface_backend_address_pool_association.html">azurerm_network_interface_backend_address_pool_association</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-interface-nat-rule-association") %>>
                  <a href="/docs/providers/azurerm/r/network_interface_nat_rule_association.html">azurerm_network_interface_nat_rule_association</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-security-group") %>>
                  <a href="/docs/providers/azurerm/r/network_security_group.html">azurerm_network_security_group</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-security-rule") %>>
                  <a href="/docs/providers/azurerm/r/network_security_rule.html">azurerm_network_security_rule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-watcher") %>>
                  <a href="/docs/providers/azurerm/r/network_watcher.html">azurerm_network_watcher</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-packet-capture") %>>
                  <a href="/docs/providers/azurerm/r/packet_capture.html">azurerm_packet_capture</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-packet-capture") %>>
                  <a href="/docs/providers/azurerm/r/network_packet_capture.html">azurerm_network_packet_capture</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-public-ip") %>>
                  <a href="/docs/providers/azurerm/r/public_ip.html">azurerm_public_ip</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-public-ip-prefix") %>>
                  <a href="/docs/providers/azurerm/r/public_ip_prefix.html">azurerm_public_ip_prefix</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-route-x") %>>
                  <a href="/docs/providers/azurerm/r/route.html">azurerm_route</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-route-table") %>>
                  <a href="/docs/providers/azurerm/r/route_table.html">azurerm_route_table</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-subnet-x") %>>
                  <a href="/docs/providers/azurerm/r/subnet.html">azurerm_subnet</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-subnet-network-security-group-association") %>>
                  <a href="/docs/providers/azurerm/r/subnet_network_security_group_association.html">azurerm_subnet_network_security_group_association</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-subnet-route-table-association") %>>
                  <a href="/docs/providers/azurerm/r/subnet_route_table_association.html">azurerm_subnet_route_table_association</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-traffic-manager-endpoint") %>>
                  <a href="/docs/providers/azurerm/r/traffic_manager_endpoint.html">azurerm_traffic_manager_endpoint</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-traffic-manager-profile") %>>
                  <a href="/docs/providers/azurerm/r/traffic_manager_profile.html">azurerm_traffic_manager_profile</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-virtual-network-x") %>>
                  <a href="/docs/providers/azurerm/r/virtual_network.html">azurerm_virtual_network</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-virtual-network-gateway-x") %>>
                  <a href="/docs/providers/azurerm/r/virtual_network_gateway.html">azurerm_virtual_network_gateway</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-virtual-network-gateway-connection") %>>
                  <a href="/docs/providers/azurerm/r/virtual_network_gateway_connection.html">azurerm_virtual_network_gateway_connection</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-virtual-network-peering") %>>
                  <a href="/docs/providers/azurerm/r/virtual_network_peering.html">azurerm_virtual_network_peering</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-management-group") %>>
              <a href="#">Management Group Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-management-group") %>>
                  <a href="/docs/providers/azurerm/r/management_group.html">azurerm_management_group</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-log-analytics") %>>
              <a href="#">Log Analytics Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-log-analytics-linked-service") %>>
                  <a href="/docs/providers/azurerm/r/log_analytics_linked_service.html">azurerm_log_analytics_linked_service</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-log-analytics-solution") %>>
                  <a href="/docs/providers/azurerm/r/log_analytics_solution.html">azurerm_log_analytics_solution</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-log-analytics-workspace-x") %>>
                  <a href="/docs/providers/azurerm/r/log_analytics_workspace.html">azurerm_log_analytics_workspace</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-log-analytics-workspace-linked-service") %>>
                  <a href="/docs/providers/azurerm/r/log_analytics_workspace_linked_service.html">azurerm_log_analytics_workspace_linked_service</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-policy") %>>
              <a href="#">Policy Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-policy-assignment") %>>
                  <a href="/docs/providers/azurerm/r/policy_assignment.html">azurerm_policy_assignment</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-policy-definition") %>>
                  <a href="/docs/providers/azurerm/r/policy_definition.html">azurerm_policy_definition</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-policy-set-definition") %>>
                  <a href="/docs/providers/azurerm/r/policy_set_definition.html">azurerm_policy_set_definition</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-recovery-services") %>>
              <a href="#">Recovery Services</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-recovery-services-protection-policy-vm") %>>
                  <a href="/docs/providers/azurerm/r/recovery_services_protection_policy_vm.html">azurerm_recovery_services_protection_policy_vm</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-recovery-services-protected-vm") %>>
                  <a href="/docs/providers/azurerm/r/recovery_services_protected_vm.html">azurerm_recovery_services_protected_vm</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-recovery-services-vault") %>>
                  <a href="/docs/providers/azurerm/r/recovery_services_vault.html">azurerm_recovery_services_vault</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-redis") %>>
              <a href="#">Redis Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-redis-cache") %>>
                  <a href="/docs/providers/azurerm/r/redis_cache.html">azurerm_redis_cache</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-redis-firewall-rule") %>>
                  <a href="/docs/providers/azurerm/r/redis_firewall_rule.html">azurerm_redis_firewall_rule</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-search") %>>
              <a href="#">Search Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-search-service") %>>
                  <a href="/docs/providers/azurerm/r/search_service.html">azurerm_search_service</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-security-center") %>>
              <a href="#">Security Center Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-security-center-contact") %>>
                  <a href="/docs/providers/azurerm/r/security_center_contact.html">azurerm_security_center_contact</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-security-center-subscription-pricing") %>>
                  <a href="/docs/providers/azurerm/r/security_center_subscription_pricing.html">azurerm_security_center_subscription_pricing</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-security-center-workspace") %>>
                  <a href="/docs/providers/azurerm/r/security_center_workspace.html">azurerm_security_center_workspace</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-scheduler") %>>
              <a href="#">Scheduler Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-scheduler-job-collection") %>>
                  <a href="/docs/providers/azurerm/r/scheduler_job_collection.html">azurerm_scheduler_job_collection</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-scheduler-job-x") %>>
                  <a href="/docs/providers/azurerm/r/scheduler_job.html">azurerm_scheduler_job</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-service-fabric") %>>
              <a href="#">Service Fabric Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-service-fabric-cluster") %>>
                  <a href="/docs/providers/azurerm/r/service_fabric_cluster.html">azurerm_service_fabric_cluster</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-stream-analytics") %>>
              <a href="#">Stream Analytics Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-stream-analytics-job") %>>
                  <a href="/docs/providers/azurerm/r/stream_analytics_job.html">azurerm_stream_analytics_job</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-stream-analytics-function-javascript-udf") %>>
                  <a href="/docs/providers/azurerm/r/stream_analytics_function_javascript_udf.html">azurerm_stream_analytics_function_javascript_udf</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-stream-analytics-output-blob") %>>
                  <a href="/docs/providers/azurerm/r/stream_analytics_output_blob.html">azurerm_stream_analytics_output_blob</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-stream-analytics-output-eventhub") %>>
                  <a href="/docs/providers/azurerm/r/stream_analytics_output_eventhub.html">azurerm_stream_analytics_output_eventhub</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-stream-analytics-output-servicebus-queue") %>>
                  <a href="/docs/providers/azurerm/r/stream_analytics_output_servicebus_queue.html">azurerm_stream_analytics_output_servicebus_queue</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-stream-analytics-stream-input-blob") %>>
                  <a href="/docs/providers/azurerm/r/stream_analytics_stream_input_blob.html">azurerm_stream_analytics_stream_input_blob</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-stream-analytics-stream-input-eventhub") %>>
                  <a href="/docs/providers/azurerm/r/stream_analytics_stream_input_eventhub.html">azurerm_stream_analytics_stream_input_eventhub</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-stream-analytics-stream-input-iothub") %>>
                  <a href="/docs/providers/azurerm/r/stream_analytics_stream_input_iothub.html">azurerm_stream_analytics_stream_input_iothub</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-storage") %>>
              <a href="#">Storage Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azurerm-resource-storage-account") %>>
                  <a href="/docs/providers/azurerm/r/storage_account.html">azurerm_storage_account</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-storage-blob") %>>
                  <a href="/docs/providers/azurerm/r/storage_blob.html">azurerm_storage_blob</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-storage-container") %>>
                  <a href="/docs/providers/azurerm/r/storage_container.html">azurerm_storage_container</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-storage-queue") %>>
                  <a href="/docs/providers/azurerm/r/storage_queue.html">azurerm_storage_queue</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-storage-share") %>>
                  <a href="/docs/providers/azurerm/r/storage_share.html">azurerm_storage_share</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-storage-table") %>>
                  <a href="/docs/providers/azurerm/r/storage_table.html">azurerm_storage_table</a>
                </li>

              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-template") %>>
              <a href="#">Template Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-template-deployment") %>>
                  <a href="/docs/providers/azurerm/r/template_deployment.html">azurerm_template_deployment</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-media") %>>
            <a href="#">Media Resources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-azurerm-resource-media-media-services-account") %>>
                <a href="/docs/providers/azurerm/r/media_services_account.html">azurerm_media_services_account</a>
              </li>
            </ul>
          </li>

          </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
