
<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
          <ul class="nav docs-sidenav">
            <li<%= sidebar_current("docs-home") %>>
              <a href="/docs/providers/index.html">All Providers</a>
            </li>

            <li<%= sidebar_current("docs-azurerm-index") %>>
              <a href="/docs/providers/azurerm/index.html">Microsoft Azure Provider</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-index-authentication-azure-cli") %>>
                    <a href="/docs/providers/azurerm/authenticating_via_azure_cli.html">Authenticating via the Azure CLI</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-index-authentication-service-principal") %>>
                    <a href="/docs/providers/azurerm/authenticating_via_service_principal.html">Authenticating via a Service Principal (Shared Account)</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-datasource") %>>
              <a href="#">Data Sources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-datasource-builtin_role_definition") %>>
                    <a href="/docs/providers/azurerm/d/builtin_role_definition.html">azurerm_builtin_role_definition</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-client-config") %>>
                    <a href="/docs/providers/azurerm/d/client_config.html">azurerm_client_config</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-image") %>>
                    <a href="/docs/providers/azurerm/d/image.html">azurerm_image</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-key-vault-access-policy") %>>
                    <a href="/docs/providers/azurerm/d/key_vault_access_policy.html">azurerm_key_vault_access_policy</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-managed-disk") %>>
                    <a href="/docs/providers/azurerm/d/managed_disk.html">azurerm_managed_disk</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-platform-image") %>>
                    <a href="/docs/providers/azurerm/d/platform_image.html">azurerm_platform_image</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-public-ip") %>>
                    <a href="/docs/providers/azurerm/d/public_ip.html">azurerm_public_ip</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-resource-group") %>>
                    <a href="/docs/providers/azurerm/d/resource_group.html">azurerm_resource_group</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-role_definition") %>>
                    <a href="/docs/providers/azurerm/d/role_definition.html">azurerm_role_definition</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-datasource-subscription") %>>
                    <a href="/docs/providers/azurerm/d/subscription.html">azurerm_subscription</a>
                </li>

              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-resource") %>>
              <a href="#">Base Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-resource-group") %>>
                  <a href="/docs/providers/azurerm/r/resource_group.html">azurerm_resource_group</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-app-service") %>>
              <a href="#">App Service (Web Apps) Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azurerm-resource-app-service-x") %>>
                  <a href="/docs/providers/azurerm/r/app_service.html">azurerm_app_service</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-app-service-plan") %>>
                  <a href="/docs/providers/azurerm/r/app_service_plan.html">azurerm_app_service_plan</a>
                </li>

              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-role") %>>
              <a href="#">Authorization Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azurerm-resource-authorization-role-assignment") %>>
                  <a href="/docs/providers/azurerm/r/role_assignment.html">azurerm_role_assignment</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-authorization-role-definition") %>>
                  <a href="/docs/providers/azurerm/r/role_definition.html">azurerm_role_definition</a>
                </li>

              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-automation") %>>
              <a href="#">Automation Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azurerm-resource-automation-account") %>>
                  <a href="/docs/providers/azurerm/r/automation_account.html">azurerm_automation_account</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-automation-credential") %>>
                  <a href="/docs/providers/azurerm/r/automation_credential.html">azurerm_automation_credential</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-automation-runbook") %>>
                  <a href="/docs/providers/azurerm/r/automation_runbook.html">azurerm_automation_runbook</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-automation-schedule") %>>
                  <a href="/docs/providers/azurerm/r/automation_schedule.html">azurerm_automation_schedule</a>
                </li>

              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-application-insights") %>>
              <a href="#">Application Insights Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azurerm-resource-application-insights") %>>
                  <a href="/docs/providers/azurerm/r/application_insights.html">azurerm_application_insights</a>
                </li>

              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-cdn") %>>
              <a href="#">CDN Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azurerm-resource-cdn-profile") %>>
                  <a href="/docs/providers/azurerm/r/cdn_profile.html">azurerm_cdn_profile</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-cdn-endpoint") %>>
                  <a href="/docs/providers/azurerm/r/cdn_endpoint.html">azurerm_cdn_endpoint</a>
                </li>

              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-compute") %>>
              <a href="#">Compute Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azurerm-resource-compute-availability-set") %>>
                  <a href="/docs/providers/azurerm/r/availability_set.html">azurerm_availability_set</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-compute-managed-disk") %>>
                  <a href="/docs/providers/azurerm/r/managed_disk.html">azurerm_managed_disk</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-compute-snapshot") %>>
                  <a href="/docs/providers/azurerm/r/snapshot.html">azurerm_snapshot</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-compute-image") %>>
                  <a href="/docs/providers/azurerm/r/image.html">azurerm_image</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-compute-virtual-machine") %>>
                  <a href="/docs/providers/azurerm/r/virtual_machine.html">azurerm_virtual_machine</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-compute-virtualmachine-extension") %>>
                  <a href="/docs/providers/azurerm/r/virtual_machine_extension.html">azurerm_virtual_machine_extension</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-compute-virtualmachine-scale-set") %>>
                  <a href="/docs/providers/azurerm/r/virtual_machine_scale_set.html">azurerm_virtual_machine_scale_set</a>
                </li>

              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-container") %>>
              <a href="#">Container Resources</a>
              <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-azurerm-resource-container-group") %>>
                <a href="/docs/providers/azurerm/r/container_group.html">azurerm_container_group</a>
              </li>

                <li<%= sidebar_current("docs-azurerm-resource-container-registry") %>>
                  <a href="/docs/providers/azurerm/r/container_registry.html">azurerm_container_registry</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-container-service") %>>
                  <a href="/docs/providers/azurerm/r/container_service.html">azurerm_container_service</a>
                </li>

              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-cosmosdb") %>>
              <a href="#">CosmosDB (DocumentDB) Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azurerm-resource-cosmosdb-account") %>>
                  <a href="/docs/providers/azurerm/r/cosmosdb_account.html">azurerm_cosmosdb_account</a>
                </li>

              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-database") %>>
              <a href="#">Database Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azurerm-resource-database-mysql-configuration") %>>
                  <a href="/docs/providers/azurerm/r/mysql_configuration.html">azurerm_mysql_configuration</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-mysql-database") %>>
                  <a href="/docs/providers/azurerm/r/mysql_database.html">azurerm_mysql_database</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-mysql-firewall-rule") %>>
                  <a href="/docs/providers/azurerm/r/mysql_firewall_rule.html">azurerm_mysql_firewall_rule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-mysql-server") %>>
                  <a href="/docs/providers/azurerm/r/mysql_server.html">azurerm_mysql_server</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-postgresql-configuration") %>>
                  <a href="/docs/providers/azurerm/r/postgresql_configuration.html">azurerm_postgresql_configuration</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-postgresql-database") %>>
                  <a href="/docs/providers/azurerm/r/postgresql_database.html">azurerm_postgresql_database</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-postgresql-firewall-rule") %>>
                  <a href="/docs/providers/azurerm/r/postgresql_firewall_rule.html">azurerm_postgresql_firewall_rule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-postgresql-server") %>>
                  <a href="/docs/providers/azurerm/r/postgresql_server.html">azurerm_postgresql_server</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-sql-database") %>>
                  <a href="/docs/providers/azurerm/r/sql_database.html">azurerm_sql_database</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-sql-elasticpool") %>>
                  <a href="/docs/providers/azurerm/r/sql_elasticpool.html">azurerm_sql_elasticpool</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-sql-firewall-rule") %>>
                  <a href="/docs/providers/azurerm/r/sql_firewall_rule.html">azurerm_sql_firewall_rule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-database-sql-server") %>>
                  <a href="/docs/providers/azurerm/r/sql_server.html">azurerm_sql_server</a>
                </li>

              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-dns") %>>
                <a href="#">DNS Resources</a>
                <ul class="nav nav-visible">

                  <li<%= sidebar_current("docs-azurerm-resource-dns-a-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_a_record.html">azurerm_dns_a_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-aaaa-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_aaaa_record.html">azurerm_dns_aaaa_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-cname-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_cname_record.html">azurerm_dns_cname_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-mx-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_mx_record.html">azurerm_dns_mx_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-ns-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_ns_record.html">azurerm_dns_ns_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-ptr-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_ptr_record.html">azurerm_dns_ptr_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-srv-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_srv_record.html">azurerm_dns_srv_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-txt-record") %>>
                    <a href="/docs/providers/azurerm/r/dns_txt_record.html">azurerm_dns_txt_record</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-dns-zone") %>>
                      <a href="/docs/providers/azurerm/r/dns_zone.html">azurerm_dns_zone</a>
                  </li>

                </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-key-vault") %>>
              <a href="#">Key Vault Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azurerm-resource-key-vault-x") %>>
                  <a href="/docs/providers/azurerm/r/key_vault.html">azurerm_key_vault</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-key-vault-certificate") %>>
                  <a href="/docs/providers/azurerm/r/key_vault_certificate.html">azurerm_key_vault_certificate</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-key-vault-key") %>>
                  <a href="/docs/providers/azurerm/r/key_vault_key.html">azurerm_key_vault_key</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-key-vault-secret") %>>
                  <a href="/docs/providers/azurerm/r/key_vault_secret.html">azurerm_key_vault_secret</a>
                </li>

              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-loadbalancer") %>>
              <a href="#">Load Balancer Resources</a>
              <ul class="nav nav-visible">

                  <li<%= sidebar_current("docs-azurerm-resource-loadbalancer") %>>
                    <a href="/docs/providers/azurerm/r/loadbalancer.html">azurerm_lb</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-loadbalancer-backend-address-pool") %>>
                    <a href="/docs/providers/azurerm/r/loadbalancer_backend_address_pool.html">azurerm_lb_backend_address_pool</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-loadbalancer-rule") %>>
                    <a href="/docs/providers/azurerm/r/loadbalancer_rule.html">azurerm_lb_rule</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-loadbalancer-nat-rule") %>>
                    <a href="/docs/providers/azurerm/r/loadbalancer_nat_rule.html">azurerm_lb_nat_rule</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-loadbalancer-nat-pool") %>>
                    <a href="/docs/providers/azurerm/r/loadbalancer_nat_pool.html">azurerm_lb_nat_pool</a>
                  </li>

                  <li<%= sidebar_current("docs-azurerm-resource-loadbalancer-probe") %>>
                    <a href="/docs/providers/azurerm/r/loadbalancer_probe.html">azurerm_lb_probe</a>
                  </li>

              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-eventhub") %>>
              <a href="#">Messaging Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-eventgrid-topic") %>>
                  <a href="/docs/providers/azurerm/r/eventgrid_topic.html">azurerm_eventgrid_topic</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-eventhub") %>>
                  <a href="/docs/providers/azurerm/r/eventhub.html">azurerm_eventhub</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-eventhub-authorization-rule") %>>
                  <a href="/docs/providers/azurerm/r/eventhub_authorization_rule.html">azurerm_eventhub_authorization_rule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-eventhub-consumer-group") %>>
                  <a href="/docs/providers/azurerm/r/eventhub_consumer_group.html">azurerm_eventhub_consumer_group</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-eventhub-namespace") %>>
                  <a href="/docs/providers/azurerm/r/eventhub_namespace.html">azurerm_eventhub_namespace</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-servicebus-namespace") %>>
                  <a href="/docs/providers/azurerm/r/servicebus_namespace.html">azurerm_servicebus_namespace</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-servicebus-queue") %>>
                  <a href="/docs/providers/azurerm/r/servicebus_queue.html">azurerm_servicebus_queue</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-servicebus-subscription") %>>
                  <a href="/docs/providers/azurerm/r/servicebus_subscription.html">azurerm_servicebus_subscription</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-servicebus-topic") %>>
                  <a href="/docs/providers/azurerm/r/servicebus_topic.html">azurerm_servicebus_topic</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-network") %>>
              <a href="#">Network Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azurerm-resource-network-application-gateway") %>>
                  <a href="/docs/providers/azurerm/r/application_gateway.html">azurerm_application_gateway</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-express-route-circuit") %>>
                  <a href="/docs/providers/azurerm/r/express_route_circuit.html">azurerm_express_route_circuit</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-local-network-gateway") %>>
                  <a href="/docs/providers/azurerm/r/local_network_gateway.html">azurerm_local_network_gateway</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-interface") %>>
                  <a href="/docs/providers/azurerm/r/network_interface.html">azurerm_network_interface</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-security-group") %>>
                  <a href="/docs/providers/azurerm/r/network_security_group.html">azurerm_network_security_group</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-security-rule") %>>
                  <a href="/docs/providers/azurerm/r/network_security_rule.html">azurerm_network_security_rule</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-public-ip") %>>
                  <a href="/docs/providers/azurerm/r/public_ip.html">azurerm_public_ip</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-route-x") %>>
                  <a href="/docs/providers/azurerm/r/route.html">azurerm_route</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-route-table") %>>
                  <a href="/docs/providers/azurerm/r/route_table.html">azurerm_route_table</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-subnet") %>>
                  <a href="/docs/providers/azurerm/r/subnet.html">azurerm_subnet</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-traffic-manager-endpoint") %>>
                  <a href="/docs/providers/azurerm/r/traffic_manager_endpoint.html">azurerm_traffic_manager_endpoint</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-traffic-manager-profile") %>>
                  <a href="/docs/providers/azurerm/r/traffic_manager_profile.html">azurerm_traffic_manager_profile</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-virtual-network") %>>
                  <a href="/docs/providers/azurerm/r/virtual_network.html">azurerm_virtual_network</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-network-virtual-network-peering") %>>
                  <a href="/docs/providers/azurerm/r/virtual_network_peering.html">azurerm_virtual_network_peering</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-oms") %>>
            <a href="#">OMS Resources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-azurerm-oms-log-analytics-workspace") %>>
                <a href="/docs/providers/azurerm/r/log_analytics_workspace.html">azurerm_log_analytics_workspace</a>
              </li>
            </ul>
          </li>

            <li<%= sidebar_current("docs-azurerm-redis") %>>
              <a href="#">Redis Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-redis-cache") %>>
                  <a href="/docs/providers/azurerm/r/redis_cache.html">azurerm_redis_cache</a>
                </li>
                <li<%= sidebar_current("docs-azurerm-redis-firewall-rule") %>>
                  <a href="/docs/providers/azurerm/r/redis_firewall_rule.html">azurerm_redis_firewall_rule</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-search") %>>
              <a href="#">Search Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-search-service") %>>
                  <a href="/docs/providers/azurerm/r/search_service.html">azurerm_search_service</a>
                </li>
              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-storage") %>>
              <a href="#">Storage Resources</a>
              <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-azurerm-resource-storage-account") %>>
                  <a href="/docs/providers/azurerm/r/storage_account.html">azurerm_storage_account</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-storage-container") %>>
                  <a href="/docs/providers/azurerm/r/storage_container.html">azurerm_storage_container</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-storage-blob") %>>
                  <a href="/docs/providers/azurerm/r/storage_blob.html">azurerm_storage_blob</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-storage-queue") %>>
                  <a href="/docs/providers/azurerm/r/storage_queue.html">azurerm_storage_queue</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-storage-share") %>>
                  <a href="/docs/providers/azurerm/r/storage_share.html">azurerm_storage_share</a>
                </li>

                <li<%= sidebar_current("docs-azurerm-resource-storage-table") %>>
                  <a href="/docs/providers/azurerm/r/storage_table.html">azurerm_storage_table</a>
                </li>

              </ul>
            </li>

            <li<%= sidebar_current("docs-azurerm-resource-template") %>>
              <a href="#">Template Resources</a>
              <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-azurerm-resource-template-deployment") %>>
                  <a href="/docs/providers/azurerm/r/template_deployment.html">azurerm_template_deployment</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="/docs/providers/azure/index.html">Azure Service Management Provider &raquo;</a>
            </li>
          </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
